<section class="plant">
  
  <div class="plant-details">
    <h3>{{plant.name}}</h3>
    <p>Type: {{plant.type}}</p>
<p>Height: {{plant.height}}</p>
<p>Sunlight: {{plant.sunlight}}</p>
<p>Watering {{plant.water}}</p>
<p>Humidity: {{plant.humidity}}</p>



  </div>
</section>