<section class="plant">
  
  <div class="plant-details">
    <h3>{{plant.name}}</h3>
    <p>{{plant.type}}</p>
<p>{{plant.height}}</p>
<p>{{plant.sunlight}}</p>
<p>{{plant.water}}</p>
<p>{{plant.humidity}}</p>



  </div>
</section>